// 変数の用意
$font-color: white;
$color-main1: #ffce00;
$color-main2: #f2bdb7;
$border: rgba(#000, 0.12);
$v-border: #9e9e9e;

// 共通部分のスタイル
body {
  background-color: #fafafa;
}

#app {
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

.root-div {
  width: 100%;
  height: 100%;
}

.content {
  background-color: $color-main1;
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid $border;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border-radius: 5px;
}
.btn-wrapper {
  button {
    width: 280px;
    margin: 24px auto 12px;
    display: block;
  }
}

span {
  margin-bottom: 5px;
}

.form {
  margin: 60px auto 0;
  border-radius: 5px;
  border: 1px solid $border;
  width: 400px;
  padding: 24px;
  h1 {
    margin-bottom: 24px;
  }
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.radio-group {
  input {
    display: none;
  }
  input:checked + label {
    background-color: #ff8587;
    font-weight: 700;
  }
  label {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    background-color: $color-main2;
    width: 280px;
    border-radius: 18px;
    margin: 24px auto 12px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.inner {
  width: 700px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  &__header {
    padding: 20px;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.top {
  &__img {
    object-fit: contain;
    width: 650px;
    max-width: 100%;
    max-height: 500px;
    margin-top: 70px;
  }
}

.suggest {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list-item {
    margin: 0 auto;
    text-align: left;
    img {
      width: 320px;
      max-width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  max-width: 100%;
  margin: 70px auto 0;
  // text-align: center;
}
